extends base

block vars
	- var title = "Home"

block body
	h1 SS-Auth!
	p.
		Welcome to the SS-Auth! Please #[a(href="/register") register] or #[a(href="/login") login] to continue.
	br
	br
	p.
		Video stoped at ... #[a(href="https://youtu.be/i7of02icPyQ?t=2198") Video time link].;